.pop_up{
	background-color: $polite_white;
	left: 0;
	max-width: 90%;
	padding: 1em 1.5em;
	position: fixed;
	top: 0;
	z-index: 100;
	.btn-close{
		position: absolute;
		right: 0.3em;
		top: 0.3em;
	}
	.product_table{
		background: white;
		padding: 0.7em 0.5em;
		padding-right: 1.2em;
		td, th{
			padding: 0.2em 0.7em;
		}
		&-btn_cell{
			padding-right: 2.5em !important;
		}
	}
}