<section class="order_list">
	<h1>Order List</h1>
	<ul>
		<li class="order_list-unit" ng-repeat="order in $ctrl.orderList | orderBy:id">
			<a class="order_list-detail_link" ui-sref="orderDetail({orderId: order.id})"><span>Order nº {{order.id}}</span>
			<span>Customer name: {{order['customer-name']}}</span>
			</a>
			<ul>
				<li ng-repeat="item in order.items">
					<span>{{item.name}}</span><span> x {{item.quantity}}</span>
				</li>
			</ul>
			<span>Total: {{order.total}}</span>
		</li>
	</ul>
</section>